{% load static %} <!-- inclure des fichiers statiques -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Madcap</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'images/logo3.png' %}" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'header.html' %}
  <main>
    <section>
      <h2>L’association MADCAP 1874 a été créée le 16 octobre 2021 pour assurer la préservation du plus
        vieux Cotre Pilote de Bristol construit en 1874 à Cardiff, classé au titre des monuments historiques
        en France et en Angleterre. Il est le plus ancien des 17 cotres pilotes référencés, naviguant à ce jour
        dans le monde. Nous souhaitons au travers de notre implication être des passeurs d’histoire. Madcap
        a eu une vie avant nous, et continuera à tracer sa route après nous.</h2>
        <p>Pour les membres fondateurs de l'association, l'acquisition de Madcap reposait sur une condition essentielle : faire du bateau un espace de mixité sociale et de partage. Pour atteindre cet objectif, nous collaborons avec des associations reconnues pour leur expertise dans divers domaines favorisant la création ou la reconstruction de liens sociaux :

          Prévention des risques suicidaires chez les jeunes.
          Soutien aux personnes atteintes de syndromes post-traumatiques.
          Réinsertion de personnes en difficulté à la suite d'un accident de la vie.
          Organisation de sorties en voile handi-valides.
          Promotion de la mixité dans le sport, en particulier dans la pratique de la voile.</p>

          <p>Il existe plusieurs façons de rejoindre l'équipe et de participer à la vie de l’association :
            • section navigation : chefs de bord et équipiers.
            • travaux manuels : entretien et restauration du bateau.
            • partie administrative et organisation des événements.</p>
      <h2>Découvrez le bateau Madcap</h2>
      <p>L'association Madcap vous invite à découvrir un bateau historique restauré avec passion.</p>
      <p></p>
    </section>
    <section>
      <h2>Un patrimoine maritime vivant</h2>
      <h1>Le Madcap n’est pas seulement un bateau, mais un véritable trésor de l’histoire maritime. Avec des années de restauration et l’amour des membres de l'association, il navigue encore aujourd'hui.</h1>
    </section>
    <section>
      <h2>Rejoignez-nous !</h2>
      <p>Participez à nos sorties en mer et plongez dans l’histoire avec le Madcap. Inscrivez-vous pour vivre une aventure inoubliable.</p>
    </section>
  </main>
  {% include 'footer.html' %}
</body>
</html>