{% load static %} <!-- Inclusion des fichiers statiques -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Madcap</title>

    <!-- Lien vers les fichiers CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@400;600&display=swap" rel="stylesheet">



    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/logo3.png' %}" type="image/png">
</head>
<body>
    {% include 'header.html' %} <!-- Inclusion du header -->

    <main class="don-page">
      <!-- Messages Flash -->
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li class="message-{{ message.tags }}">{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}

        <!-- Section Titre Principal -->
        <header class="don-header">
            
            <div class="bandeau-texte">
                Nous sommes ravis de vous entendre. Remplissez le formulaire ci-dessous pour toute question ou information supplémentaire.
            </p>
          </div>
        </header>

        <!-- Formulaire de Contact -->
        <section class="don-section">
            <h2>Formulaire de Contact</h2>
            <form action="/submit_contact/" method="POST" class="contact-form">
                {% csrf_token %} <!-- Sécurité Django pour les formulaires -->
                
                <!-- Champ Nom -->
                <label for="name">Nom et Prénom :</label>
                <input type="text" id="name" name="name" placeholder="Votre nom et prénom" required>

                <!-- Champ Email -->
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" placeholder="Votre adresse email" required>

                <!-- Champ téléphone -->
                <label for="Telephone">Téléphone (facultatif) :</label>
                <input type="text" id="Telephone" name="phone" placeholder="Votre numéro de Téléphone">

                <!-- Champ Message -->
                <label for="message">Message :</label>
                <textarea id="message" name="message" placeholder="Votre message (min. 20 caractères)" rows="5" required></textarea>

                <!-- Champ button -->
                <button type="submit" class="don-button">Envoyer</button>
            </form>
        </section>
        
        <br>
        <br>
        <br>

        <!-- Section Contact Direct -->
        <section class="don-section">
            <h2>Nous Contacter Directement</h2>
            <h3><strong>Christian Hurreau, Président de l'Association Madcap-1874</strong></h3>

            <p><strong>Email :</strong> 
                <a href="mailto:association.madcap.1874@gmail.com">association.madcap.1874@gmail.com</a>
                <div class="contact-info">
                  <p><strong>Téléphone :</strong> <a href="tel:+33686143955">+33 6 86 14 39 55</a></p>
              </div>
              

            <!-- Conteneur pour les logos sociaux -->
            <div class="logos">
                <p class="social-text">Suivez-nous sur les réseaux </p>

                <!-- Logo Facebook -->
                <a href="https://www.facebook.com/profile.php?id=100077266193402&locale=fr_FR" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/Fb_logo2.png' %}" alt="Logo Facebook" class="logo animated-logo fb">
                </a>

                <!-- Logo YouTube -->
                <a href="https://www.youtube.com/@AssociationMadcap1874" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/Youtube_logo.png' %}" alt="Logo YouTube" class="logo animated-logo">
                </a>
            </div>
        </section>
    </main>

    {% include 'footer.html' %} <!-- Inclusion du footer -->
</body>
</html>
