{% load static %}
{% load i18n %}

<!-- Lien vers le CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

<!-- Barre supérieure avec icônes et texte -->
<div class="top-bar">
  <div class="top-bar-center">
    <h2 class="top-bar-text">Madcap, le plus vieux côtre-pilote encore en état de naviguer</h2>
  </div>

  <div class="top-bar-right">
    <a href="https://www.facebook.com/profile.php?id=100077266193402&locale=fr_FR" target="_blank" class="social-logo facebook">
      <img src="{% static 'images/Fb_logo2.png' %}" alt="Logo Facebook" />
    </a>

    <a href="https://www.youtube.com/@AssociationMadcap1874" target="_blank" class="social-logo youtube">
      <img src="{% static 'images/Youtube_logo.png' %}" alt="Logo YouTube" />
    </a>


    <a href="{% url 'admin_login' %}" class="admin-button">Espace Admin</a>
  </div>
</div>

<!-- Header principal avec vidéo -->
<header>
  <div class="video-container-header">
    <a href="/">
      <img src="{% static 'images/logo.png' %}" alt="Logo Madcap" class="logo-in-video">
    </a>
    <video autoplay muted loop playsinline>
      <source src="{% static 'videos/gif.mp4' %}" type="video/mp4">
      Votre navigateur ne supporte pas la vidéo HTML5.
    </video>
  </div>

  

</header>

<!-- Navigation séparée pour le sticky -->
<nav id="main-nav">
  <ul class="nav-links">

<!-- Logo météo cliquable vers la carte Windy -->
<div class="top-bar-right nav-weather-logo">
<a href="/#map-container" class="social-logo weather" title="Voir la météo">
  <img src="{% static 'images/logo_meteo2.png' %}" alt="Météo Windy" />
</a>
</div>

    <li><a href="/">Accueil</a></li>
    <li><a href="/association">À propos de l'association</a></li>
    <li><a href="/histoire">L'Histoire de Madcap</a></li>
    <li><a href="/evenements">Événements</a></li>
    <li><a href="/don">Soutenir le projet</a></li>
    <li><a href="/livre_dor">Votre experience</a></li>
    <li><a href="/contact">Nous Contacter</a></li>
    
  </ul>

  <div class="language-switcher">
    <button class="current-language">
      {% if request.LANGUAGE_CODE == "fr" %}
        <img src="{% static 'images/Flag_Fr.jpg' %}" class="flag">
      {% else %}
        <img src="{% static 'images/Flag_Uk.jpg' %}" class="flag">
      {% endif %}
      <span class="arrow">▼</span>
    </button>
    <ul class="language-options">
      <li>
        {% if request.LANGUAGE_CODE == "fr" %}
          <a href="{% url 'change_language' 'en' %}" class="language-option">
            <img src="{% static 'images/Flag_Uk.jpg' %}" class="language-flag"> En
          </a>
        {% else %}
          <a href="{% url 'change_language' 'fr' %}" class="language-option">
            <img src="{% static 'images/Flag_Fr.jpg' %}" class="language-flag"> Fr
          </a>
        {% endif %}
      </li>
    </ul>
  </div>

  <script src="{% static 'js/language.js' %}" defer></script>

</nav>
