{% load static %} <!-- Charger les fichiers statiques Django -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Madcap</title>

  <!-- Lien vers la feuille de style CSS principale -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <!-- Favicon de la page (icône affichée dans l'onglet du navigateur) -->
  <link rel="icon" href="{% static 'images/logo3.png' %}" type="image/png">

  <!-- Google Fonts : Pacifico pour le titre et Montserrat pour le texte -->
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@400;600&display=swap"
    rel="stylesheet">


  <!-- Script JavaScript Windy pour la carte -->
  <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>

  <script src="{% static 'js/diaporama_index.js' %}"></script>


  <!-- Styles personnalisés pour la carte -->
  <style>
    #map {
      height: 45vh;
      margin: 20px 0;
    }
  </style>
</head>

<body>
  {% include 'header.html' %}
  <main class="homepage-main">
    <!-- Section 1 : Introduction -->
    <section class="don-section">
      <h1>Un patrimoine maritime vivant</h1>
      <h3><span style="display: inline-block; padding-left: 1.5cm;"></span>Construit en 1874, Madcap est le plus ancien
        côtre-pilote encore à flot. Autrefois actif dans le canal de Bristol jusqu’au début des années 1920, il a
        ensuite été transformé en voilier de plaisance. Aujourd’hui, après avoir rejoint la Méditerranée en 2020, il
        continue de voguer sous la bannière de l’association Madcap 1874, basée à Canet-en-Roussillon. L'association
        consacre à sa préservation et à la promotion du patrimoine maritime, permettant au public de découvrir les
        techniques de navigation à voile du XIXe siècle.</h3>
      <h1>Classé Monument Historique</h1>

      <!-- Diaporama -->
      <div class="diaporama-index">
        <div class="diaporama">
          <img src="{% static 'images/DiapoHeader3.jpg' %}" alt="Madcap en mer">
          <img src="{% static 'images/DiapoHeader2.jpg' %}" alt="Vue latérale">
          <img src="{% static 'images/DiapoHeader1.jpg' %}" alt="Détail du voilier">
          <img src="{% static 'images/DiapoHeader4.jpg' %}" alt="Détail du voilier">
        </div>
        <button class="precedent"></button>
        <button class="suivant"></button>
      </div>

      <h2>
        L'association Madcap vous invite à découvrir ce voilier historique restauré avec passion.
      </h2>
      <h3>
        <span style="display: inline-block; padding-left: 1.5cm;"></span> Madcap, témoin précieux de notre patrimoine
        maritime, vous invite à embarquer pour un voyage dans le temps. Restauré avec rigueur et minutie, ce bateau
        classé Monument Historique reflète l'excellence de l'artisanat naval de son époque. L'association se consacre à
        sa préservation et à la promotion du patrimoine maritime, permettant au public de découvrir les techniques de
        navigation à voile du XIXe siècle. Découvrez les secrets de sa construction, ses récits de navigation et les
        événements marquants qui ont façonné son histoire.
      </h3>
    </section>

    <main>
      <!-- Espace vide -->
    </main>

    <!-- Section 5 : Invitation à rejoindre -->
    <section class="don-section">
      <div class="content-container">
        <div class="text-content">
          <h2>Embarquez à bord du Madcap, naviguez avec nous et plongez dans son histoire.</h2>

        </div><br>
        <img src="{% static 'images/Photo_index_contact.jpg' %}" alt="Détail du voilier" class="don-image-index">
      </div>
      <h2>Partagez des moments riches en émotions lors de nos sorties en mer.</h2>
      <div class="cta-links">
        <a href="https://www.helloasso.com/associations/madcap-1874" target="_blank"
          class="cta-button">Rejoignez-nous</a>
        <a href="{% url 'contact' %}" class="cta-button">Contactez-nous</a>
      </div>
    </section>



    <main>
     
      <!-- Espace vide -->
    </main>
   
    <!-- Section 2 : Patrimoine vivant -->
    <section class="don-section">

      <!-- Section 3 : Présentation vidéo -->
     
      <section id="presentation">

        <div class="video-container-index">
          <iframe src="https://www.youtube.com/embed/_7lt_IaRsnc" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
          </iframe>
        </div>
      </section>
      <h3><span style="display: inline-block; padding-left: 1.5cm;"></span>Plus qu’un simple bateau, Madcap est un
        témoin unique de l’histoire maritime. Grâce au travail dévoué de ses membres, ce patrimoine continue de
        naviguer, offrant à chacun une immersion dans les navigations d’autrefois.</h3>
    </section>
  </main>

  
  <!-- Section 4 : Carte interactive Windy -->
 
  <section class="don-section">
    <h2>Carte météo interactive</h2>
    <div id="map-wrapper">

      <!-- Carte Windy interactive -->
      <div id="map-container">
        <iframe width="950" height="450"
        src="https://embed.windy.com/embed2.html?lat=42.7&lon=3.0&zoom=5&level=surface&overlay=waves&menu=&message=&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=42.7&detailLon=3.0&metricWind=default&metricTemp=default&radarRange=-1"

          frameborder="0">
          allowfullscreen>
        </iframe>
      </div>

      <!-- Bouton pour afficher la carte en plein écran -->
      <button id="fullscreen-btn">Afficher la carte en plein écran</button>
    </div>

    
    <!-- Panneau d'affichage des données météo Open Météo avec  https://uiverse.io/ -->

    <div class="card">
      <section class="info-section">
        <div class="background-design">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="left-side">
          <div class="weather">
            <div id="weather-icon">
              <!-- Icône météo insérée dynamiquement -->
            </div>
            <div id="weather-condition">--</div>
          </div>
          <div class="temperature" id="temperature-air">--°</div>
          <div class="wind">
            💨 <span id="vent-vitesse">--</span> km/h - <span id="vent-direction">--</span>°
          </div>
        </div>
        <div class="right-side">
          <div>
            <div class="hour" id="current-time">--:--</div>
            <div class="date" id="current-date">-- --</div>
          </div>
          <div class="city">Canet-en-Roussillon</div>
        </div>
      </section>
    </div>
    



  </section>
  </main>

  {% include 'footer.html' %}

  <script src="{% static 'js/weather.js' %}" defer></script>           <!-- Map Windy -->
  <script src="{% static 'js/open_meteo.js' %}" defer></script>        <!-- Donnée Météo Open météo -->

</body>

</html>