Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/.tsbuildinfo
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/_metadata.json
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/@angular_core.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/@angular_core.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/@angular_platform-browser_animations_async.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/@angular_platform-browser_animations_async.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/@angular_platform-browser.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/@angular_platform-browser.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/@angular_router.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/@angular_router.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/browser-EPOH7LKZ.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/browser-EPOH7LKZ.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/chunk-2BAKJSE4.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/chunk-2BAKJSE4.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/chunk-NBQSA3VV.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/chunk-NBQSA3VV.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/chunk-XLEUUUQA.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps/chunk-XLEUUUQA.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/_metadata.json
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_core.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_core.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_platform-browser_animations_async.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_platform-browser_animations_async.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_platform-browser.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_platform-browser.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_platform-server.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_platform-server.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_router.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_router.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_ssr_node.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_ssr_node.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_ssr.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/@angular_ssr.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/browser-CZNMXL2T.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/browser-CZNMXL2T.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-4VG3XXDD.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-4VG3XXDD.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-37H5SXVZ.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-37H5SXVZ.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-AEYVCW3U.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-AEYVCW3U.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-GJQPQF2B.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-GJQPQF2B.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-J3ZUXJLR.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-J3ZUXJLR.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-MHVKWXBA.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-MHVKWXBA.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-OV6T6RQY.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-OV6T6RQY.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-YHCV7DAQ.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/chunk-YHCV7DAQ.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/express.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/express.js.map
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/xhr2-TXIMV6CV.js
Test_angular/portfolio-angular/.angular/cache/19.1.7/portfolio-angular/vite/deps_ssr/xhr2-TXIMV6CV.js.map
