<!-- From Uiverse.io by KSAplay --> 
<div class="card">
  <section class="landscape-section">
    <div class="sky"></div>
    <div class="sun"></div>
    <div class="hill-1"></div>
    <div class="hill-2"></div>
    <div class="ocean">
      <div class="reflection"></div>
      <div class="reflection"></div>
      <div class="reflection"></div>
      <div class="reflection"></div>
      <div class="reflection"></div>
      <div class="shadow-hill-1"></div>
      <div class="shadow-hill-2"></div>
    </div>
    <div class="hill-3"></div>
    <div class="hill-4"></div>
    <div class="tree-1"></div>
    <div class="tree-2"></div>
    <div class="tree-3"></div>
    <div class="filter"></div>
  </section>

  <section class="content-section">
    <div class="weather-info">
      <div class="left-side">
    </div>

      <div class="right-side">
        <div class="location">
          <div>
            <svg width="16px" height="16px" viewBox="0 0 64 64" fill="#ffffff">
              <path
                fill="#ffffff"
                d="M32,0C18.746,0,8,10.746,8,24c0,5.219,1.711,10.008,4.555,13.93l16,24C29.414,63.332,30.664,64,32,64
                s2.586-0.668,3.328-1.781l16-24C54.289,34.008,56,29.219,56,24C56,10.746,45.254,0,32,0z M32,32c-4.418,0-8-3.582-8-8
                s3.582-8,8-8s8,3.582,8,8S36.418,32,32,32z"
              ></path>
            </svg>
            Canet-en-Roussillon
            <br>
            <p id="current-date" class="date"></p> <!-- Date dynamique -->
            </div>

            <br>

       </div>
        <p class="temperature" id="temperature-air">--°C</p> <!-- Température dynamique -->
        <br>
        <p class="vent">Vent : <span id="vent-vitesse">--</span> - <span id="vent-direction">--</span>°</p> <!-- Vent vitesse et direction dynamique -->
         </div>
       
    </div>
    <!--icône météo et la description-->
    <div class="weather-condition">
      <div id="weather-icon">☁️</div> <!-- Icône météo dynamique -->
      
  </div>

  
     <!-- Prévisions météo pour les 3 jours à venir -->

    <div class="forecast">
      <div>
        <p id="forecast-1-date">--</p>
        <p id="forecast-1-temp">--°C</p>
      </div>
      <div class="separator"></div>
      <div>
        <p id="forecast-2-date">--</p>
        <p id="forecast-2-temp">--°C</p>
      </div>
      <div class="separator"></div>
      <div>
        <p id="forecast-3-date">--</p>
        <p id="forecast-3-temp">--°C</p>
      </div>
    </div>

  
    
  </section>
</div>