{% load static %} <!-- Charger les fichiers statiques Django -->
{% load i18n %} <!-- Fr vs En-->

<!-- Lien vers la feuille de style CSS principale -->
<link rel="stylesheet" href="{% static 'css/style_footer.css' %}">

<footer>
  <div class="footer-container">
      <!-- Logo et description -->
      <div class="footer-left">
          <img src="{% static 'images/logo3.png' %}" alt="Logo AssociationMadcap1874">
          <p>{% trans "Madcap 1874 - Association pour la préservation du patrimoine maritime" %}</p>
      </div>

      
      <!-- Contact et réseaux sociaux -->
      <div class="footer-right">
        <p>{% trans "Association Madcap 1874" %}</p>
          <p>{% trans "N° W821001521" %}</p>
          <p>{% trans "Adresse du siège de l'association:" %}</p>
          <p>66 Cité Ducau, 82100 Castelsarrasin, France</p>
          <p>{% trans "Téléphone" %} : +33 6 86 14 39 55</p>
          <p>{% trans "Email" %} : <a href="mailto:association.madcap.1874@gmail.com">association.madcap.1874@gmail.com</a></p>
          
          <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100077266193402&locale=fr_FR" target="_blank">
                <img src="{% static 'images/Fb_logo2.png' %}" alt="Facebook AssociationMadcap1874" width="25" height="25">
            </a>
            <a href="https://www.youtube.com/@AssociationMadcap1874" target="_blank">
                <img src="{% static 'images/Youtube_logo.png' %}" alt="YouTube AssociationMadcap1874" width="25" height="25">
            </a>
        </div>
      </div>
  </div>

  <!-- Liens de navigation -->
  <div class="footer-middle">
        <ul>
            <li><a href="{% url 'index' %}">{% trans "Accueil" %}</a></li>
            <li><a href="{% url 'association' %}">{% trans "À propos de l'Association" %}</a></li>
            <li><a href="{% url 'histoire' %}">{% trans "L'histoire de Madcap" %}</a></li>
            <li><a href="{% url 'evenements' %}">{% trans "Événements" %}</a></li>
            <li><a href="{% url 'don' %}">{% trans "Soutenir le Projet" %}</a></li>
            <li><a href="{% url 'livre_dor' %}">{% trans "Votre Expérience" %}</a></li>
            <li><a href="{% url 'contact' %}">{% trans "Nous Contacter" %}</a></li>
            <li><a href="{% static 'docs/mécénatv01.pdf' %}" target="_blank" rel="noopener noreferrer" title="Télécharger le dossier de mécénat de l'Association Madcap-1874" download>
              {% trans "📄 Télécharger le dossier de mécénat" %}
            </a></li>
            <li><a href="{% url 'mentions_legales' %}">{% trans "Mentions Légales" %}</a></li>
            <li><a href="{% static 'docs/Réglement_intérieur_Madcap_1874.pdf' %}" download>
            {% trans "📄 Réglement Intérieur Madcap 1874" %}
          </a></li>
          <li><a href="{% static 'docs/Statut_MADCAP.pdf' %}" download>
            {% trans "📄 Statut Association" %}
          </a></li>
        </ul>
    </div>

  <div class="footer-bottom">
      <p>© 2024 Madcap - {% trans "Tous droits réservés" %}</p>
  </div>
</footer>
