<div class="don-container">
  <header class="don-header">
    <p class="subtitle">Contribuons ensemble à la préservation de ce patrimoine maritime</p>
  </header>

  <app-don-section 
    [title]="'Pourquoi faire un don ?'"
    [content]="raisonDons">
  </app-don-section>

  <app-don-section 
    [title]="'À quoi servent vos dons ?'"
    [content]="utilisationDons">
  </app-don-section>

  <app-don-section 
    [title]="'Quels avantages fiscaux ?'"
    [content]="avantagesFiscaux">
  </app-don-section>

  <section class="don-section call-to-action">
    <h2>Comment faire un don ?</h2>
    <a href="https://www.helloasso.com/associations/madcap-1874/formulaires/1" 
       target="_blank" 
       class="don-button">Faire un don via HelloAsso</a>
  </section>
</div>
